body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #262627;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
    background: rgba(19, 19, 19, 0.636);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ccc;
}

.subtitle {
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}

form div {
    text-align: left;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #ededed;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #1e40af;
}

.login-text {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.terms {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: rgb(244, 244, 244);
}

a {
    color: #2563eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
